{
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "indent": ["error", 2],
    "eqeqeq": ["error", "always"],
    "quotes": ["error", "double"],
    "strict": ["error", "never"],
    "semi": ["error", "always", { "omitLastInOneLineBlock": true}],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "comma-dangle": ["error", "never"]
  },
  "plugins": [ "react" ]
}