
main{
  width: 100%;
  height: 89vh;
  padding: 10px;
  overflow-y: scroll; 
  -webkit-overflow-scrolling: touch;
}

.pt-navbar{
  transition: background-color 0.5s cubic-bezier(1, 0.3, 1, 1);
  width: 100%;

  .pt-control.pt-switch{
    margin-bottom: 0;
  }

  .pt-popover-target{
    padding: 0 10px;
  }
}

.userSlider{
  position: fixed;
  background: #2c3a45;
  width: 0;
  height: 100%;
  right: 0;
  top: 0;
  transition: all 0.5s ease;
  
  &.show{
    width: 15%;
  }
}

.pt-popover.pt-popover-content-sizing .pt-popover-content{
  padding: 0;
}

.mask{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  background-color: rgba(0,0,0, 0.35);
  overflow: auto;
}

.userSlider{
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  background: #394b59;
  transition: all 0.5s ease;
  z-index: 25;

  &.show{
    width: 220px;
    z-index: 30;
  }
}

@media screen and (max-width: 414px){
  .pt-navbar{
    padding: 0 5px;
    .pt-navbar-group.pt-align-right{
      a{
        display: flex;
      }
    }
    .pt-control.pt-switch{
      font-size: 14px;
      margin-right: 0.15rem;
    }
    .pt-popover-target{
      display: flex;
    }
  }
}
