.home{
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;

  .imgList{
    position: fixed;
    width: 100%;
    height: 100%;
    min-width: 1500px;
    margin: auto;
    visibility: visible;
    background-size: 100%;
    -webkit-transition: opacity 1s cubic-bezier(0,0,1,0.47);
    -moz-transition: opacity 1s cubic-bezier(0,0,1,0.47);
    -o-transition: opacity 1s cubic-bezier(0,0,1,0.47);
    transition: opacity 1s cubic-bezier(0,0,1,0.47);
    opacity: 0;
  }

  @media screen and (max-width: 414px) {
    .imgList{
      background-size: 85% !important;
      background-position-x: -11rem !important;
    }
  }

  .enterBtn{
    position: fixed;
    top: 80%;
    right: 6%;
    width: 200px;
    height: 60px;
    font-size: 20px;
    text-align: center;
  
    span{
      color: #fff;
      position: absolute;
      right: 2vh;
      top: 50%;
      margin-top: -7px;
      display: block;
      height: 14px;
    }

    a{
      color: #fff;
      text-decoration:none;
      color: #fff;
      text-decoration: none;
      display: inline-block;
      width: 100%;
      height: 100%;
      line-height: 3;
    }

    a:hover{
      text-decoration:none;
      color: #D8E1E8;
    }
  }

  .login{
    font-size: 30px;
    position: fixed;
    right: 30px;
    top: 20px;
    transition: color 0.3s linear;
    cursor: pointer;
  }
  .login:hover{
    color: #fafafa;
  }

}