.home{
  overflow: hidden;

  .imgList{
    max-width: 100%;
    min-width: 1339px;
    max-height: 100%;
    min-height: 770px;
    margin: auto;
    opacity: 1;
    visibility: visible;

    background-size: 100%; 
  }
}