

.articleList{

  font-size: 16px;
  height: 87vh;
  margin: 0;
  overflow-y: scroll;
  padding: 1vh 3vw;

  .articleItem{

    margin-bottom: 20px;
    line-height: 20px;

    h2{
      display: inline;
      margin: 0 5px 0 0;
      font-size: 16px;
    }
  }
}

.articleDetail{
  margin: 10px auto;
  height: 84vh;
  width: 95vh;
  font-size: 16px;
  line-height: 2;

  h1{
    padding: 0 3vw
  }

  pre{
    overflow-x: scroll;
    font-size: 16px;
    background: #2d2d2d;
    code{
      color: #cccccc;
      white-space: unset;
    }

  }
}


@media screen and (max-width: 414px){
  h1{
    font-size: 25px;
  }

  .articleDetail{
    width: 92vw;
    pre{
      font-size: 13px !important;
    }
  }
}
