// theme.scss

.themedSelf {
  .title{
    color: rgb(48, 63, 159);
  }
  .subtitle {
    color: pink;
  }
}

.cardText{
  color: #000;
  text-shadow: 1px 0 1px #F8DFF4, 0 1px 1px #F8DFF5, 0 -1px 1px #F8DFF5, -1px 0 1px #F8DFF5;
}